// Define variables for your color scheme
$orange-fnd: #F26749;
$lightpink-fnd: #FCDED6;
$pink-fnd: #F9A197;
$lightblue-fnd: #83A5F2;
$yellow-fnd: #EA9836;
$blue-fnd: #204ECF;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
