<!-- Loop through all items -->
<div class="card-item">
  <img src="https://www.freshpicks.com/spree/products/4090/large/ItalianParsley_2_Pack_Horiz_Web.jpg?1681490536" class="card-item-img" />
  <div class="d-flex justify-content-around align-items-center">
    <div class="card-item-user">
      <img class="avatar-bordered" src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fHdvbWFufGVufDB8fDB8fHww"/>
      <h5 id="card-item-user-name">Leila</h5>
    </div>
    <div class="card-item-category">
      <strong>FRESH</strong>
    </div>
  </div>
  <div class="card-item-infos">
    <div>
      <h2>FRESH PARSLEY</h2>
      <p>Collect today 8AM-5PM</p>
    </div>
    <div class="text-end">
      <p>Opened yesterday</p>
      <div class="card-item-date">
        Save by 18/04
      </div>
    </div>
  </div>
</div>
<!-- End loop -->

<!-- Exemple pour viusalier les différentes cards - à enlever quand on mettra la loop sur les catégories -->

<div class="card-item">
  <img src="https://www.freshpicks.com/spree/products/4090/large/ItalianParsley_2_Pack_Horiz_Web.jpg?1681490536" class="card-item-img" />
  <div class="d-flex justify-content-around align-items-center">
    <div class="card-item-user">
      <img class="avatar-bordered" src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fHdvbWFufGVufDB8fDB8fHww"/>
      <h5 id="card-item-user-name">Leila</h5>
    </div>
    <div class="card-item-category">
      <strong>FRESH</strong>
    </div>
  </div>
  <div class="card-item-infos">
    <div>
      <h2>FRESH PARSLEY</h2>
      <p>Collect today 8AM-5PM</p>
    </div>
    <div class="text-end">
      <p>Opened yesterday</p>
      <div class="card-item-date">
        Save by 18/04
      </div>
    </div>
  </div>
</div>
