<div class="navbar-bottom sticky-bottom">

  <%= link_to homepage_food_path do %>
    <div class="tab-current text-center">
      <i class="fa-solid fa-utensils icon-size" style="color: #ffffff;"></i>
      <p class="mt-0 fs-6 lh-1">Food</p>
    </div>
  <% end %>

  <%= link_to homepage_home_path do %>
  <div class="tab-current text-center">
    <i class="fa-solid fa-couch icon-size" style="color: #ffffff;"></i>
    <p class="mt-0 fs-6 lh-1">Objects</p>
  </div>
  <% end %>

  <button type="button" data-action="click->modal#showCategoryModal">
    <div class="tab-current new-item">
      <i class="fa-solid fa-circle-plus"></i>
    </div>
  </button>

  <%= link_to items_path do %>
    <div class="tab-current text-center">
      <i class="fa-solid fa-house icon-size" style="color: #ffffff;"></i>
      <p class="mt-0 fs-6 lh-1">Neighbours</p>
    </div>
  <% end %>

  <%= link_to dashboard_path do %>
    <div class="tab-current text-center">
      <i class="fa-solid fa-user icon-size" style="color: #ffffff;"></i>
      <p class="mt-0 fs-6 lh-1">Profile</p>
    </div>
  <% end %>

</div>
