<div class="container cards-section mt-3" data-controller="filter">

  <div class="d-flex align-items-start justify-content-evenly mb-4">
    <button class="btn-lightblue selected" data-action="click->filter#showDonationItems"><h2>Objects Available</h2></button>
    <button class="btn-lightblue" data-action="click->filter#showRequestItems"><h2>Requested Objects</h2></button>
  </div>

  <div class="mb-5" data-filter-target="itemDonation">
    <!-- Category Cards -->
    <div class="category-cards-container mb-2">
      <%= render "shared/card_subcategory", subcategories: @home_subcategories %>
    </div>
    <p class="my-3"><strong>Objects from people living nearby</strong></p>
    <!-- Item Cards -->
    <div class="item-cards-container mb-2">
      <%= render "shared/card_item", items: @home_items %>
    </div>
    <p class="my-3"><strong>All objects from the community</strong></p>
    <!-- Item Cards -->
    <div class="item-cards-container mb-2">
      <%= render "shared/card_item", items: @home_items %>
    </div>
  </div>

  <div class="mb-5" data-filter-target="itemRequest">

    <div class="d-flex flex-column align-items-center">
      <button class="btn-blue mb-2"><h2>Share an object</h2></button>
      <button class="btn-white-border-blue mb-2"><h2>Request an object</h2></button>
    </div>

  </div>

</div>
