<div class= "welcome-background-color">

  <div class="welcome-top">
    <%= image_tag "logo_scarlet.png"%>
  </div>

  <div class="welcome-title">
    <h1>THE MORE WE SHARE,</h1>
    <h3>THE MORE WE HAVE</h3>
  </div>

  <div class="welcome-link-section">
    <%= link_to "DISCOVER", home_path, class:"welcome-link" %>
  </div>

  <div class="welcome-pineapple">
    <%= image_tag "radiant_pineapple.png" %>
  </div>

</div>
