<div class= "welcome-background" data-controller="splash-screen">

  <div class="welcome-top">
    <%= image_tag "logo_scarlet.png"%>
  </div>

  <div class="welcome-title">
    <h1>THE MORE WE SHARE,</h1>
    <h3>THE MORE WE HAVE</h3>
  </div>

   <span data-splash-screen-target="url" data-url-value="<%= home_path %>"></span>

  <div class="welcome-pineapple">
    <%= image_tag "radiant_pineapple.png" %>
  </div>

</div>
