<div class="container my-3">
  <h2>All items</h2>
  <div class="row">
    <!-- Loop through all items -->
    <!-- One item is displayed in a card -->
    <div class="col-6">
      <div class="card-item">
        <img src="https://www.freshpicks.com/spree/products/4090/large/ItalianParsley_2_Pack_Horiz_Web.jpg?1681490536" class="card-item-img" />
        <div class="d-flex justify-content-center">
          <div class="card-item-user">
            <img class="avatar-bordered" src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fHdvbWFufGVufDB8fDB8fHww"/>
            <h5 id="card-item-user-name">Leila</h5>
          </div>
          <div class="card-item-category">
            <strong>FRESH</strong>
          </div>
        </div>
        <div class="card-item-infos">
          <div>
            <h2>FRESH PARSLEY</h2>
            <p>Collect today 8AM-5PM</p>
          </div>
          <div class="text-end">
            <p>Opened yesterday</p>
            <div class="card-item-date">Save by 18/04</div>
          </div>
        </div>
      </div>
    </div>
    <!-- A second item is displayed in a card -->
    <div class="col-6">
      <div class="card-item">
        <img src="https://www.freshpicks.com/spree/products/4090/large/ItalianParsley_2_Pack_Horiz_Web.jpg?1681490536" class="card-item-img" />
        <div class="card-item-user">
          <img class="avatar-bordered" src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fHdvbWFufGVufDB8fDB8fHww"/>
          <h5 id="card-item-user-name">Leila</h5>
        </div>
        <div class="card-item-category"><strong>FRESH</strong></div>
          <div class="card-item-infos">
            <div>
              <h2>FRESH PARSLEY</h2>
              <p>Collect today 8AM-5PM</p>
            </div>
            <div class="text-end">
              <p>Opened yesterday</p>
              <div class="card-item-date">Save by 18/04</div>
            </div>
          </div>
      </div>
    </div>
    <!-- End loop -->
  </div>
</div>
