.modal.show .modal-dialog {
  transform: translateX(-50%) !important;
  margin: 0 !important;
}

.modal-bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) !important;
  width: 100%;
  max-width: 500px;

  .modal-dialog {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 !important;
  }

  .modal-content {
    border-radius: 0;
    width: 100%;
    opacity: 1;
  }
}

.modal-body {
  padding: 1.5rem;

  h5 {
    margin-bottom: 0;
  }

  .btn {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }

  .btn-up,
  .btn-down {
    background-color: $blue-fnd;
    color: white;
  }

  .btn-up {
    margin-bottom: 0px;
    border-radius: 10px 10px 0 0;
  }

  .btn-down {
    margin-bottom: 5rem;
    border-radius: 0 0 10px 10px;
  }

  .btn-outline {
    border-radius: 10px;
    background-color: white;
    color: $blue-fnd;
    border: 1px solid $blue-fnd;
    margin-bottom: 5rem;
  }
}
