.modal.show .modal-dialog {
  transform: translateX(-50%) !important;
  margin: 0 !important;
}

.modal-bottom {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%) !important;
  width: 95%;
  max-width: 500px;
  border-radius: 10px;

  .modal-dialog {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 !important;
  }

  .modal-content {
    border-radius: 10px;
    width: 100%;
    opacity: 0.9;
  }
}

.modal-body {
  h5 {
    margin-bottom: 0;
  }

  .btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 30px;
  }

  .btn-primary {
    background-color: $blue-fnd;
    color: white;
  }

  .btn-outline-primary {
    background-color: white;
    color: $blue-fnd;
    border: 2px solid $blue-fnd;
  }
}
