.modal-dialog {
  transform: translateX(-50%) !important;
  margin: 0 !important;
  position: absolute;
  z-index: 1050;
}

.navbar {
  z-index: 1000;
}

.modal-bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) !important;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  z-index: 1050;

  .modal-dialog {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 !important;
    z-index: 1051
  }

  .modal-content {
    border-radius: 0;
    width: 100%;
    opacity: 0.9;
    z-index: 1052;
  }
}

.modal-body {
  padding: 1.5rem;

  p {
    margin-bottom: 0;
  }

  .btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  .btn-up,
  .btn-down,
  .btn-cancel {
    font-weight: 600;
    color: $blue-fnd;
  }
}
