// Navbar en bas de page
.navbar-bottom {
  font-size: 34px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $orange-fnd;
  border-top: solid 1px white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  height: 80px;
  z-index: 1000;
  justify-items: center;

  a {
   color: white;
   text-decoration: none;
  }

  img {
    width: 40px;
    height: auto;
  }

  p {
    font-size: 8px;
    margin-top: 1em;
  }

  .fa-solid {
    text-align: center;
  }

  .icon-size {
    font-size: 32px;
  }
}

// Enlever le style du bouton pour le rendre invisible
.hide-button {
  background-color: transparent;
  border: 0;
}

// Icone "+" pour ajouter un nouvel item
.new-item {
  font-size: 80px;
  position: absolute;
  bottom: 0%;
  right: 40%;

  .fa-circle-plus {
    color: $orange-fnd;
    position: relative;
    z-index: 2;
  }
}

// Cercle blanc en dessous de l'icone "+" pour que la croix soit visible (sinon prend la couleur de fond)
.new-item::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Ajout d'un espace en bas de la navbar pour que le contenu de l'écran ne soit pas caché
.navbar-space {
  padding-bottom: 85px;
}
