html, body {
  height: 100%;
}

.welcome-background {
  background-color: $pink-fnd;
  height: 100%;
  text-align: center;
  opacity: 1;
}

.welcome-background-hidden {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}


.welcome-top {

  margin: auto;

  img {
    height: 4.5em;
    border-radius: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.welcome-title {
  padding-top: 4em;
  padding-bottom: 1em;
  h1 {
    font-size: 40px;
    color: $lightpink-fnd;
  }

  h3 {
    color: $orange-fnd;
    font-family: 'Zen Kaku Gothic New', 'sans-serif';
    font-weight: 700;
    font-size: 30px;
  }
}

.welcome-link {
  font-size: 40px;
  color: $lightpink-fnd;
  text-decoration: none;
  border-top: 0.03em solid $lightpink-fnd;
  border-bottom: 0.03em solid $lightpink-fnd;
}

.welcome-pineapple {

  img {
    height: 30em;
    width: 100%;
    padding-left: 1em;
    object-fit: cover;
  }
}
